
    img{
        margin-left: 45%;
    }
    h2{
        margin-left: 30%;
        border:solid cyan 1px;
        border-radius: 5px;
        margin-right: 25%;
        padding-left: 10px;
       font-family: sans-serif;
    }
    div{
text-align: justify;

    }